$primary: #6B9080;
$primary-dark: #43554d;

$text-dark: #435e56;
$text-light: #FFFFFF;
$text-secondary: #58677C;

$background-dark: #F7F8FA;
$background-light: #FFFFFF;
$background-footer: #434E5E;

$line: #bdbdbd;

$media-gutter: 250px;
$content-gutter: 150px;

$content-padding: 1.75rem;
$section-padding: 3rem;
